@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

#watermark {
	position: fixed;
	bottom: 0;
	right: 0;
}

.tb {
	width:90%;
}

#ved-jpg {
	position: relative;
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	height: 100%; 
}

#upnishat-jpg {
	position: relative;
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	height: 100%; 
}

#smriti-jpg {
	position: relative;
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	height: 100%; 
}

#darshan-jpg {
	position: relative;
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	height: 100%; 
}

#sanskrat-jpg {
	position: relative;
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	height: 100%; 
}

#anya-jpg {
	position: relative;
	min-width: 100px;
	max-width: 200px;
	min-height: 100px;
	max-height: 200px;
	width: 100%;
	height: 100%; 
}