* {
        box-sizing: border-box;
      }
/* Fonts */
@font-face {
        font-family: NotoSans;
        src: url (https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);
}
.row::after {
        content: "";
        clear: both;
        display: table;
}

.column1 {
        float: left;
        width: 50%;
        padding: 30px;
}
#name {
        font-family: jura;
        font-size:20px;
        position:absolute;
        color:#FB4949;
        top:4%;
        left:6%;
        text-align: center;
}
#imp-btn {
        position:absolute;
        top:6%;
        right:10%;
        border: 1px solid #000000;
        border-radius: 12px;
        background-color: white;
        padding: 10px 30px;
        font-size: 15px;
}
#imp-btn:hover {
       background-color: teal;
       border: 1px solid teal;
       color: white;
}
/* Header ends */

.column2 {
       float: left;
       width: 100%;
       padding: 30px;
       top: 20%;
}
#mantra-btn {
      position: absolute;
      top: 35%;
      left: 50%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 500px;
      height: 100px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
}
#bhashya-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 500px;
      height: 100px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
        .column1 {
          width: 100%;
          padding: 15px;
        }
        #name {
          position: absolute;
          font-size: 40px;
          top: 1%;
          left: 17%
        }
        #imp-btn {
          top: 17%;
          left: 12%;
          padding: 8px 100px;
          align: center;
          border-radius: 50px;
        }
        #central-elements {
          text-align: center;
          display: inline-block;
        }
        /* Header ends list Starts */
        .column2 {
       float: left;
       width: 25%;
       padding: 30px;
       top: 20%;
       }
       .footer {
        display: none;
       }