* {
        box-sizing: border-box;
      }
/* Fonts */
@font-face {
        font-family: NotoSans;
        src: url (https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);
}
.box1 {
  width: 392.5px;
  height: 64px;
  border: 0px;
  border-radius: 12px;
  font-size: 20px;
  font-family: NotoSans;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(selector.svg) no-repeat;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}
.box2 {
  width: 392.5px;
  height: 64px;
  border: 0px;
  border-radius: 12px;
  font-size: 20px;
  font-family: NotoSans;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(selector.svg) no-repeat;
}
/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}
.row::after {
        content: "";
        clear: both;
        display: table;
}
.row {
  padding-bottom: 550px;
}
.column0 {
        float: center;
        width: 100%;
        padding: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 32%;
    left: 17%;
    }
#shlok-select {
    position: relative;
    left: 10%;
}
.column1 {
        float: left;
        width: 50%;
        padding: 30px;
}
#name {
        font-family: jura;
        font-size:20px;
        position:absolute;
        color:#FB4949;
        top:4%;
        left:6%;
        text-align: center;
}
#imp-btn {
        position:absolute;
        top:6%;
        right:10%;
        border: 1px solid #000000;
        border-radius: 12px;
        background-color: white;
        padding: 10px 30px;
        font-size: 15px;
}
#imp-btn:hover {
       background-color: teal;
       border: 1px solid teal;
       color: white;
}
/* Header ends */

.column2 {
       float: left;
       width: 16.66666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666%;
       padding: 30px;
       top: 20%;
}
#ved-btn {
       position: absolute;
       top: 20%;
       left: 02%;
       border: 1px solid black;
       border-radius: 10px;
       background-color: white;
       padding: 10px 30px;
       color: black;
       font-size: 15px;
       cursor: pointer;
}
#upnishad-btn {
       position: absolute;
       top: 20%;
       border: 1px solid black;
       border-radius: 10px;
       background-color: white;
       padding: 10px 30px;
       color: black;
       font-size: 15px;
       cursor: pointer;
}
#ved-btn:hover {
       background-color: #f4511e;
       border: 1px solid #f4511e;

}
#darshan-btn {
       position: absolute;
       top: 20%;
       border: 1px solid black;
       border-radius: 10px;
       background-color: white;
       padding: 10px 30px;
       color: black;
       font-size: 15px;
       cursor: pointer;
}
#darshan-btn:hover {
       background-color: #f4511e;
       border: 1px solid #f4511e;
       
}
#manusmriti-btn {
       position: absolute;
       top: 20%;
       border: 1px solid #f4511e;
       border-radius: 10px;
       background-color: #f4511e;
       padding: 10px 30px;
       color: black;
       font-size: 15px;
       cursor: pointer;
}
#upnishad-btn:hover {
       background-color: #f4511e;
       border: 1px solid #f4511e;
       
}
#adhunik-btn {
       position: absolute;
       top: 20%;
       border: 1px solid black;
       border-radius: 10px;
       background-color: white;
       padding: 10px 30px;
       color: black;
       font-size: 15px;
       cursor: pointer;
}
#adhunik-btn:hover {
       background-color: #f4511e;
       border: 1px solid #f4511e;
       
}
#lekh-btn {
       position: absolute;
       top: 20%;
       border: 1px solid black;
       border-radius: 10px;
       background-color: white;
       padding: 10px 30px;
       color: black;
       font-size: 15px;
       cursor: pointer;
}
#lekh-btn:hover {
       background-color: #f4511e;
       border: 1px solid #f4511e;
       
}
/* Upnishad Buttons */
.column3 {
      float: left;
      width: 25%;
      padding: 30px;
}
.column4 {
      float: left;
      width: 25%;
      padding: 30px;
}
.column5 {
      float: left;
      width: 25%;
      padding: 30px;
}
#isha-btn {
      position: absolute;
      top: 55%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#isha-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#keno-btn {
      position: absolute;
      top: 55%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#keno-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#ketho-btn {
      position: absolute;
      top: 55%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#ketho-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#prashn-btn {
      position: absolute;
      top: 55%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#prashna-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#mundak-btn {
      position: absolute;
      top: 105%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#mundak-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#mandukya-btn {
      position: absolute;
      top: 105%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#mandukya-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#aitrey-btn {
      position: absolute;
      top: 105%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#aitrey-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#taitriy-btn {
      position: absolute;
      top: 105%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#taitriy-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#shweta-btn {
      position: absolute;
      top: 155%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#shweta-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#brihda-btn {
      position: absolute;
      top: 155%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#brihda-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#chandogya-btn {
      position: absolute;
      top: 155%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#chandogya-btn:hover {
      background-color: red;
      border: 2px solid red;
}
#chandogya2-btn {
      position: absolute;
      top: 155%;
      background-color: #ff9933;
      color: white;
      border: 2px solid #ff9933;
      border-radius: 20px;
      padding: 10px 20px;
      width: 300px;
      height: 250px;
      max-width: 300px;
      max-height: 250px;
      font-size: 20px;
      font-family: NotoSans;
      cursor: pointer;
}
#chandogya2-btn:hover {
      background-color: red;
      border: 2px solid red;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 500px) {
        .column0 {
          width: 100%;
          padding: 15px;
          height: 500px;
        }
        .container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          top: 45%
        }
        .box2 {
          height: 45px;
          width: 200px;
          border-radius: 10px;
          font-size: 15px;
          padding-bottom: 10px;
          background: url(selector-mobile.svg) no-repeat;
          position: relative;
          top: 5%;
          left: -27%;
        }
        .box1 {
          height: 45px;
          width: 200px;
          border-radius: 10px;
          font-size: 15px;
          padding-bottom: 10px;
          background: url(selector-mobile.svg) no-repeat;
        }
        .column1 {
          width: 100%;
          padding: 15px;
        }
        .row {
          padding-bottom: 1000px;
        }
        #name {
          position: absolute;
          font-size: 40px;
          top: 1%;
          left: 17%
        }
        #imp-btn {
          top: 17%;
          left: 12%;
          padding: 8px 100px;
          align: center;
          border-radius: 50px;
        }
        #central-elements {
          text-align: center;
          display: inline-block;
        }
        /* Header ends list Starts */
        .column2 {
       float: left;
       width: 25%;
       padding: 30px;
       top: 20%;
       }
       #ved-btn {
        top: 30%;
        padding: 7px 15px; 
       }
       #upnishad-btn {
        top: 30%;
        left: 20%;
        padding: 7px 15px;
       }
       #darshan-btn {
        top: 30%;
        padding: 7px 15px;
        left: 45%;
       }
       #manusmriti-btn {
        top: 30%;
        left: 75%;
        padding: 7px 15px;
       }
       #adhunik-btn {
        top: 40%;
        padding: 7px 15px;
       }
       #lekh-btn {
        top: 40%;
        left: 50%;
        padding: 7px 15px;
       }
       #english-btn {
        top: 40%;
        left: 75%;
        padding: 7px 15px;
       }
       /*Ved Buttins*/
       .column3 {
        float: left;
        width: 100%;
        padding: 30px;
       }
       .column4 {
        float: left;
        width: 100%;
        padding: 30px;
      }
      .column5 {
        float: left;
        width: 100%;
        padding: 30px;
      }
       #isha-btn {
        position: absolute;
        top: 65%;
       }
       #keno-btn {
        position: absolute;
        top: 115%;
       }
       #ketho-btn {
        position: absolute;
        top: 165%
       }
       #prashn-btn {
        position: absolute;
        top: 215%;
        padding-bottom: 40px;
       }
       #mundak-btn {
        position: absolute;
        top: 265%;
        padding-bottom: 40px;
       }
       #mandukya-btn {
        position: absolute;
        top: 315%;
        padding-bottom: 40px;
       }
       #aitrey-btn {
        position: absolute;
        top: 365%;
        padding-bottom: 40px;
       }
       #taitriy-btn {
        position: absolute;
        top: 415%;
        padding-bottom: 40px;
       }
       #shweta-btn {
        position: absolute;
        top: 465%;
        padding-bottom: 40px;
       }
       #brihda-btn {
        position: absolute;
        top: 515%;
        padding-bottom: 40px;
       }
       #chandogya-btn {
        position: absolute;
        top: 565%;
        padding-bottom: 40px;
       }
       #chandogya2-btn {
        position: absolute;
        top: 615%;
        padding-bottom: 40px;
       }
       .footer {
        display: none;
       }